@CHARSET "ISO-8859-1";
/**
 *  */


body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:auto;
    font-family: sans-serif;
    font-family: arial;  
    font-size: 15px;
}

div.mdaServiceHeader
{
	float: none;
	width: 100%;
	height: 40px;
	color: #666;
	margin: 2px 0px 2px 0px;
	background-color: white;
	border-bottom: 4px solid #da0505;
	z-index: -1;
	overflow: hidden;
}

div.mdaServiceHeaderLogo
{
	float: left;
	width: auto;
}

div.mdaServiceHeaderLogo img
{
	height: 35px;
}


#divider{
	height: 82%;
	width: 5px;
	vertical-align:top;
	display:inline-block;
	background: #666666;
	cursor: ew-resize;
}

#summary_chm {
    height:100%;
    width:48%;
    vertical-align:top;
    display:inline-block;
}

#summary_canvas {
    height:82%;
    width:98%;
	zIndex:1;
}

#classBarLabels{
	height:95%;
	width:95%;
	pointer-events:none;
}

#detail_chm {
    height:100%;
    width:48%;
    vertical-align:top;
    display:inline-block;
}

#detail_canvas {
    height:82%;
    width:90%;
	zIndex:1;
}

#detail_buttons {
	margin-top: 10px;
}

#chmFile {
	display: none
}

#helptext {
    margin: 5px !important;
    padding: 10px 10px 10px 10px !important;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    font-size: 90% !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    min-width: 100px;
    z-index: 10000;
    text-align: center;
    box-shadow: 5px 5px 5px #777777;
}

#helpprefs {
    margin: 5px !important;
    padding: 8px 8px 8px 8px !important;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    font-size: 90% !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    z-index: 10000;
    text-align: center;
    height: auto;
    width: auto;
    box-shadow: 5px 5px 5px #777777;
    white-space: nowrap;
}

#prefprefs {
	position: relative;
    display: inline-block;
}


#classprefs {
    font-size: 90% !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    z-index: 10000;
    text-align: left;
    height: auto;
    width: auto;
    white-space: nowrap;
    display: inline-block;
}

#breakprefs {
    font-size: 90% !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    z-index: 10000;
    text-align: center;
    height: auto;
    width: auto;
    white-space: nowrap;
    display: inline-block;
}


.input-color {
    position: relative;
}
.input-color input {
    padding-left: 0px;
}
.input-color .color-box {
    width: 30px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: -8px;
    top: -8px;
}

table {
    width: 100%;
}

td {
    height: 0px;
	padding: 0px;
    font-size: 80% !important;
    font-family: Arial;
    font-weight: normal;
    color: #0843c1;
    vertical-align: center;
}

.searchItem{
	background-color: yellow;
}

#searchError{
	border: 1px solid #1a1a1a;
    border-radius: 10px;
    font-size: 90% !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: red;
    position: absolute;
    width: 180px;
    z-index:10;
    /* height: 50px; */
    text-align: center;
    box-shadow: 5px 5px 5px #777777;
}

.labelMenu{
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    font-size: 90% !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    width: 200px;
    height: 150px;
    text-align: center;
    box-shadow: 5px 5px 5px #777777;
}
 
 
.labelMenuHeader td{
	margin: 0px 0px 0px 0px;
	background: #0843c1;
	color: #ffffff;
	font-size: 90% !important;
    font-family: Arial;
    font-weight: bold;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.labelMenuBody tr{
	height: 20px;
}
.labelMenuBody td{
	position: absolute;
	font-size: 80% !important;
    font-family: Arial;
    font-weight: normal;
    color: #0843c1;
    cursor: pointer;
}
