@CHARSET "ISO-8859-1";
/**
 *  */


body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:auto;
    font-family: sans-serif;
    font-family: arial;  
    font-size: 15px;
}

div.mdaServiceHeader
{
	float: none;
	width: 100%;
	height: 40px;
	color: #666;
	margin: 2px 0px 2px 0px;
	background-color: white;
	border-bottom: 4px solid #da0505;
	z-index: -1;
	overflow: hidden;
}

div.mdaServiceHeaderLogo
{
	float: left;
	width: auto;
}

div.mdaServiceHeaderLogo img
{
	height: 35px;
}


#divider{
	height: 82%;
	width: 5px;
	vertical-align:top;
	display:inline-block;
	background: #666666;
	cursor: ew-resize;
}

#summary_chm {
    height:100%;
    width:48%;
    vertical-align:top;
    display:inline-block;
}

#summary_canvas {
    height:82%;
    width:100%;
	zIndex:1;
}

#classBarLabels{
	height:95%;
	width:95%;
	pointer-events:none;
}

#detail_chm {
    height:100%;
    width:48%;
    vertical-align:top;
    display:inline-block;
}

#detail_canvas {
    height:82%;
    width:90%;
	zIndex:1;
}

#detail_buttons {
	margin-top: 10px;
}

#chmFile {
	display: none
}

#helptext {
    margin: 5px !important;
    padding: 10px 10px 10px 10px !important;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    font-size: 90% !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    min-width: 100px;
    z-index: 10000;
    text-align: center;
    box-shadow: 5px 5px 5px #777777;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 0px;
}
.input-color .color-box {
    width: 30px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: -8px;
    top: -8px;
}